.show-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 50rem;
  max-width: 20rem;
}

.show-details .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.show-details .show .show-poster {
  max-width: auto;
  height: 20rem;
}

.show-details .show .show-genre h4 {
  color: white;
}

.show-details .show .show-genre .show-genres-list {
  list-style: none;
  max-width: 20rem;
  -webkit-column-count: 2;
          column-count: 2;
  color: white;
  margin: 0;
  padding: 0;
}

.show-details .show h5 {
  color: white;
}

.show-details .show .show-synopsis {
  color: white;
  max-width: 17rem;
  margin-top: -3.5rem;
  height: auto;
  border: hidden;
}
