.show-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 50rem;
    max-width: 20rem;

    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2rem;


        .show-poster {
            max-width: auto;
            height: 20rem;
        }
        .show-genre {
            

            h4{
                color: white;
            }

            .show-genres-list {
                list-style: none;
                max-width: 20rem;
                column-count: 2;
                color: white;
                margin: 0;
                padding: 0;
                
            }
        }

        h5 {
            color: white;
        }

        .show-synopsis {
            color: white;
            max-width: 17rem;
            margin-top: -3.5rem;
            height: auto;
            border: hidden;         
        }
    }
}