.__imageGrid {
  @apply grid grid-cols-5 grid-rows-4 gap-6 m-5 p-2 h-full;
  width: 95%;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;

  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(250, 98, 7, 0.7);
  }

}