.movie-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 15rem);
    justify-content: center;
    align-items: center;
    max-height: 50rem;
    max-width: 20rem;

        .movie-poster {
            grid-column-start: 1;
            grid-column-end: 2;
            max-width: 10rem;
            height: 15rem;
            margin-bottom: 0;
        }

        .movie-rating-genre {
            margin-left: 1rem;
            h4 {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                color: white;
            }

            .movie-genres-list {
                list-style: none;
                max-width: 20rem;
                column-count: 2;
                color: white;
                margin: 0;
                padding: 0;
                
            } 

        }

        .movie-synopsis {

                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;

            h5 {
                color: white;
            }

            .synopsis {
                color: white;
                max-width: auto;
                height: auto;
                border: hidden;         
            }
        }
    }