.movie-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (15rem)[3];
      grid-template-rows: repeat(3, 15rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 50rem;
  max-width: 20rem;
}

.movie-details .movie-poster {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  max-width: 10rem;
  height: 15rem;
  margin-bottom: 0;
}

.movie-details .movie-rating-genre {
  margin-left: 1rem;
}

.movie-details .movie-rating-genre h4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  color: white;
}

.movie-details .movie-rating-genre .movie-genres-list {
  list-style: none;
  max-width: 20rem;
  -webkit-column-count: 2;
          column-count: 2;
  color: white;
  margin: 0;
  padding: 0;
}

.movie-details .movie-synopsis {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.movie-details .movie-synopsis h5 {
  color: white;
}

.movie-details .movie-synopsis .synopsis {
  color: white;
  max-width: auto;
  height: auto;
  border: hidden;
}
