.__series-posters {
  @apply shadow-orange-800;
  &:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 17px -10px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 17px -10px rgba(0, 0, 0, 0.58);
    transition: 2s ease-out;
    animation: zoomUp 10s;
  }

  @keyframes zoomUp {
    0%,80% {
      transform: translateY(5px) translateX(5px) scale(1.05);
    }
  }
}


.__series__posters__more__block {
  @apply flex flex-col items-center;
  .__series__posters__more__btn {
    @apply font-bold text-2xl text-white border-orange-800 border-2 w-52 h-10 mb-5;
  }
}