.__trailer-block {
  @apply grid grid-cols-10 grid-rows-4 justify-items-stretch gap-6 m-5 p-2;
  height: 623px;
  .__detail-video {
    @apply col-start-1 col-end-7 row-start-1 row-end-5 self-stretch;
  }
  .__detail-img {
    @apply col-start-1 col-end-5 row-start-1 row-end-5 h-fit;
  }

  .__detail-text-block {
    @apply col-start-8 col-end-10 row-start-1 row-end-5 self-center;
  }
  .__text {
    @apply italic font-normal text-lg text-white;
    blockquote {
      border-right: solid 2px #757575;
      border-left: solid 2px #757575;
      display: inline-block;
      margin: 0;
      padding: 1em;
      position: relative;


    }
  }
  .__detail-text-block-no-vid {
    @apply col-start-3 col-span-6 row-start-2 row-end-4 self-center content-evenly;

  .__text-no-vid-warning {
    @apply italic font-normal font-bold text-orange-800 pb-20;
    blockquote {
      border-right: solid 2px #757575;
      border-left: solid 2px #757575;
      display: inline-block;
      margin: 0;
      padding: 1em;
      position: relative;
    }
  }
    .__text-no-vid-title {
      @apply italic font-normal font-bold text-white self-end;
    }

  .__text-no-vid {
    @apply italic font-normal text-lg text-white self-end;
    blockquote {
      border-right: solid 2px #757575;
      border-left: solid 2px #757575;
      display: inline-block;
      margin: 0;
      padding: 1em;
      position: relative;


    }
  }
  }
}