@import 'src/Mixins/typed';

.__header {
  @apply flex items-center w-full h-full justify-between;

  .__title-block {
    @apply flex items-center justify-start h-32 ml-10;
    width: 21rem;

    .__title-text {
      @apply font-bold text-3xl;
      pointer-events: none;
      @include typed((
              "This is a personnal test": (color: #FFF),
              "not to clone Netflix": (color: #E50914),
              "nor IMDb": (color: #f3ce13),
              "but to challenge myself in many ways": (color: #FFF),
              "to create a simple": (color: #FFF),
      ), 1.5,
              (
                      caret-speed: 2.5,
                      caret-width: 2px,
                      caret-color: orange,
                      caret-space: 1px,
                      iterations: 1,
                      end-on: ("MovieBrowser": (color: #FA6207B2))
      ));
    }
  }
  .__navbar {
    @apply flex flex-row justify-end items-center justify-end w-1/2 h-max mr-10;

    .__movies {
      @apply flex flex-col items-center justify-center gap-2 font-bold;

      .__navbar-button {
        @apply rounded-md px-4 py-2 text-xl font-medium text-white hover:underline underline-offset-4;
      }

      .__list {
        @apply flex flex-row gap-2 font-light;

        li:hover {
          @apply font-bold text-xl text-orange-800;
        }
      }
    }
    .__series {
     @apply flex flex-col items-center justify-center gap-2 font-bold;

      .__navbar-button {
        @apply rounded-md px-4 py-2 text-xl font-medium text-white hover:underline underline-offset-4;
      }

      .__list {
        @apply flex flex-row gap-2 font-light;

        li:hover {
          @apply font-bold text-xl text-orange-800;
        }
      }
    }
  }
}