@import 'src/Mixins/typed';

.__header {
  @apply flex items-center w-full h-full justify-evenly;

  .__title-block {
    @apply flex items-center justify-center pl-5 h-32 ml-28;
    width: 25rem;

    .__title-text {
      @apply font-bold text-3xl;
      pointer-events: none;
      @include typed((
              "This is a personnal test": (color: #FFF),
              "not to clone Netflix": (color: #E50914),
              "nor IMDb": (color: #f3ce13),
              "but to technically challenge myself in many ways ": (color: #FA6207B2),
              "to create a simple": (color: #FFF),
              "MovieBrowser": (color: #FA6207B2)
      ), 1.5,
              (
      caret-speed: 2.5,
      caret-width: 2px,
      caret-color: orange,
      caret-space: 1px
      ));
    }
  }
  .__navbar {
    @apply flex flex-row justify-evenly items-center justify-evenly w-1/2 h-max ml-5;

    .__movies {
      @apply flex flex-col items-center justify-center gap-2 font-bold;

      .__navbar-button {
        @apply rounded-md px-4 py-2 text-xl font-medium text-white hover:underline underline-offset-4;
      }

      .__list {
        @apply flex flex-row gap-2 font-light;

        li:hover {
          @apply font-bold text-xl text-orange-800;
        }
      }
    }
    .__series {
     @apply flex flex-col items-center justify-center gap-2 font-bold;

      .__navbar-button {
        @apply rounded-md px-4 py-2 text-xl font-medium text-white hover:underline underline-offset-4;
      }

      .__list {
        @apply flex flex-row gap-2 font-light;

        li:hover {
          @apply font-bold text-xl text-orange-800;
        }
      }
    }
  }
}