.trending-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0rem;
    width: 100%;
    height: 100%;
    column-count: 2;
    overflow: hidden;

    .movie-list{
        z-index: 0;
        

        h2 {
                color: white;
                margin-left: 1rem;
                font-size: 1.2rem;
            
        }
        
        .css-pr6rli-MuiImageList-root {
            

            @media screen and (min-width: 450px) {
                width: 1000px;
            }

            @media screen and (min-width: 1001px) {
                width: 1500px;
                height: 250px;
            }

            @media screen and (min-width: 1501px) {
                width: 2000px;
                height: 300px;
            }

            @media screen and (min-width: 2000px) {
                width: 2500px;
                height: 350px;
                
            }
        
        }

        .css-ynaphb-MuiImageList-root {


            @media screen and (min-width: 450px) {
                width: 1000px;
            }

            @media screen and (min-width: 1001px) {
                width: 1500px;
                height: 250px;
            }

            @media screen and (min-width: 1501px) {
                width: 2000px;
                height: 300px;
            }

            @media screen and (min-width: 2000px) {
                width: 2500px;
                height: 350px;
            }
        
        }

        .poster {
            text-align: center;
            width: 6.5rem;
            height: 10rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            padding: 0;
            transition: transform 300ms ease 100ms;

            @media screen and (min-width: 1001px) {
                width: auto;
                height: 12.5rem;
            }

            @media screen and (min-width: 1501px) {
                width: auto;
                height: 15rem;
            }

            @media screen and (min-width: 2001px) {
                width: auto;
                height: 18.75rem;
            }
    
            &:hover {
                transform: scale(1.2) translateY(10%) !important;
            }
        }
    }
        

    

    
}